<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Sean220 (Sean220) -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="freeMarkerConfigurer"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="classpath:component/ftl/" />
		<property name="freemarkerSettings">
            <props>
                <prop key="default_encoding">gb2312</prop>
                <prop key="locale">zh_CN</prop>
                <prop key="template_update_delay">5</prop>
                 <prop key="number_format">0.##</prop>
            </props>
        </property>
	</bean>
</beans>
