@CHARSET "UTF-8";
/* --------------- ޸ Ext CSS -------------- */
/* Ext 2.0 */
.x-window-footer {
    position: relative;
    top: 0;
    right: 0;
}
.x-mask-loading div{
	font-size: 12px;
}
.x-tab-strip SPAN.x-tab-strip-text {
    font-size: 12px;
}
.x-panel-header {
    font-size: 12px;
}
.x-panel-body {
    font-size: 12px;
}
.x-tree-node {
    font-size: 12px;
}
.x-grid3-hd-row TD {
    font-size: 12px;
}
.x-grid3-row TD {
    font-size: 12px;
    LINE-HEIGHT: 16px;
}
.x-tip .x-tip-bd {
    font-size: 12px;
}
.x-tip h3{
    font-size: 12px;
}
.x-tip .x-tip-bd-inner{
    font-size:12px;
}
.x-panel-tl .x-panel-header {
    FONT: normal 12px tahoma,arial,verdana,sans-serif;
}
.x-form-field {
    FONT: 12px tahoma,arial,helvetica,sans-serif;    
}
.x-form-field-StrongFont {
    FONT: 14px tahoma,arial,helvetica,sans-serif;    
}
.x-small-editor .x-form-field {
    FONT: 12px tahoma,arial,helvetica,sans-serif;    
}
.x-combo-list-item {
    FONT: 12px tahoma,arial,helvetica,sans-serif;    
}    
.x-menu-list-item {
    FONT: 12px tahoma,arial,sans-serif;
}
.x-window-tl .x-window-header {
    FONT: bold 12px tahoma,arial,verdana,sans-serif;    
}
.x-layout-split-west .x-layout-mini {    
    BACKGROUND-IMAGE: url(images/mini-left.jpg);    
}
.ext-ie .x-form-text {
    margin-top:1px;
} /* the textField missing bottom line */
.x-form-item {    
    FONT: 12px tahoma,arial,helvetica,sans-serif
}
.x-fieldset legend{
	 FONT: 12px tahoma,arial,helvetica,sans-serif
}
.x-grid-group-hd DIV {    
    FONT: bold 12px tahoma,arial,helvetica,sans-serif;
}

.x-btn-text-icon .x-btn-center .x-btn-text {
	background-position:0pt 2px;
	background-repeat:no-repeat;
	padding:3px 0pt 2px 18px;
}
.ext-gecko .x-btn button {
	padding-left:0pt;
	padding-right:0pt;
}
.x-btn button{
    font-size:12px;
}
.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label {
    font-size:12px;
}
.x-tree-selected {
	background-color:#8db2e3!important;
}