html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: white;
  color: black;
}

#dpanels {
	width: 250px;
	float: right;
}

#dpanels .x-panel {
	margin: 15px;
}

#dpanels .x-date-picker {
	border: 0 none;
	border-top: 0 none;
	background: transparent;
}

#dpanels .x-date-picker td.x-date-active {
	background: #ffffff;
}

#dpanels .x-date-picker {
	width: 100% !important;
}

#x-desktop {
	width: 100%;
	height: 100%;
	border: 0 none;
	position: relative;
    overflow:hidden;
    zoom:1;
}

#spacer {
	height: 25px;
	float: left;
	width: 0;
	overflow: hidden;
	margin-top: 2px;
}

.x-window-body p,.x-panel-body p {
	padding: 10px;
	margin: 0;
}

.x-window-maximized .x-window-bc {
	height:0;
}

.x-window-header-text {
	cursor:default;
}

.x-resizable-proxy{
    background:#C7DFFC;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    border: 1px solid #3b5a82;
}

.x-clear {
    clear:both;
    height:0;
    overflow:hidden;
    line-height:0;
    font-size:0;
}
/* IM window icons */
.icon-grid {
    background-image:url( images/grid.png ) !important;
}
.add {
    background-image:url(images/shared/icons/fam/add.gif) !important;
}
.option {
    background-image:url(images/shared/icons/fam/plugin.gif) !important;
}
.remove {
    background-image:url(images/shared/icons/fam/delete.gif) !important;
}
.save {
    background-image:url(images/shared/icons/save.gif) !important;
}
.accordion {
    background-image:url(images/accordian.gif) !important;
}
.tabs {
    background-image:url(images/tabs.gif) !important;
}

.x-logon-winlogo {
    background-image:url(images/logo.gif) !important;
	no-repeat;
}

.x-logon-win {
    background-image:url(images/logout.gif) !important;

}

/* IM window icons */

.user {
    background-image:url( images/shared/icons/fam/user.gif ) !important;
}

.user-add {
    background-image:url(images/shared/icons/fam/user_add.gif) !important;
}

.user-delete {
    background-image:url(images/shared/icons/fam/user_delete.gif) !important;
}

.connect {
    background-image:url(images/shared/icons/fam/connect.gif) !important;
}

.user-girl {
    background-image:url(images/shared/icons/fam/user_female.gif) !important;
}

.user-kid {
    background-image:url(images/shared/icons/fam/user_green.gif) !important;
}

.user-suit {
    background-image:url(images/shared/icons/fam/user_suit.gif) !important;
}

.x-form-fileupload{
	height:20px;
	overflow:hidden;
}

